name: Test tap-google-play

on:
  push:
    branches: [main]
    paths:
    - tap_google_play/**
    - tests/**
    - noxfile.py
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - tap_google_play/**
    - tests/**
    - noxfile.py
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  schedule:
  - cron: "0 10 * * *"
  workflow_dispatch:

env:
  FORCE_COLOR: "1"
  PYO3_USE_ABI3_FORWARD_COMPATIBILITY: "1"
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.7
  # renovate: datasource=pypi depName=nox
  NOX_VERSION: 2025.10.16

jobs:
  test:
    runs-on: ubuntu-24.04
    env:
      NOXFORCEPYTHON: ${{ matrix.python-version }}
      NOXSESSION: tests
    strategy:
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        version: ${{ env.UV_VERSION }}

    - name: Run tests
      env:
        TAP_GOOGLE_PLAY_APP_ID: com.ifountain.opsgenie
      run: >
        uvx
        --with nox==${{ env.NOX_VERSION }}
        nox --verbose

  typing:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        version: ${{ env.UV_VERSION }}

    - name: Run typing checks
      run: >
        uvx
        --with nox==${{ env.NOX_VERSION }}
        nox --verbose -s mypy

  lint:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        version: ${{ env.UV_VERSION }}

    - name: Run lint checks
      run: >
        uvx
        --with nox==${{ env.NOX_VERSION }}
        nox --verbose -s lint
